@model List<COMP1640.ViewModels.AcademicYear.AcademicYearResponse>

@{
    int index = 0;
}
@{
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
}
<div class="container">
    <div class="pt-3 pb-4 d-block">
        <div class="align-items-center d-flex justify-content-between pb-3">
            <a class="btn btn-info text-white text-center" id="addAcademicYearBtn">
                <i class="material-icons text-white">
                    Add
                </i>
            </a>
        </div>
    </div>
    <div id="addAcademicYearModal" class="modalAdd">
        <!-- Modal content -->
        <div class="modal-content bg-dark w-50">
            <span id="close_addAcademicYearModal" class="close">&times;</span>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="text-center mx-auto">
                        <p class="fw-bold text-success">Add new<br>Academic Year</p>
                        <h6 class="fw-bold">Please fill out the blank</h6>
                    </div>
                    <form id="create_academic_year_form" method="post" asp-action="Create" enctype="multipart/form-data">
                        
                        <div class="mb-3">
                            <input class="form-control"
                                   type="text" name="name" placeholder="Academic Year"
                                   required="required"/>
                        </div>
                        
                        <div class="mb-3">
                            <input id="open_date" name="openDate" class="form-control"
                                   placeholder="Open Date"
                                   type="text"
                                   onfocus="(this.type='date')"
                                   onblur="(this.type='text')"/>
                        </div>

                        <div class="mb-3">
                            <input id="closure_date" name="closureDate" class="form-control"
                                   placeholder="Closure Date"
                                   type="text"
                                   onfocus="(this.type='date')"
                                   onblur="(this.type='text')"/>
                        </div>
                        
                        <div class="mb-3">
                            <input id="final_closure_date" name="finalClosureDate" class="form-control"
                                   placeholder="Final Closure Date"
                                   type="text"
                                   onfocus="(this.type='date')"
                                   onblur="(this.type='text')"/>
                        </div>
                        
                        <div class="mb-3">
                            <button id="submit-btn" class="btn btn-primary shadow d-block w-100" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
    <div class="modalEdit" id="editAcademicYearModal">
        <!-- Modal content -->
        <div class="modal-content bg-dark w-50">
            <span id="close_editAcademicYearModal" class="close">&times;</span>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="text-center mx-auto">
                        <p class="fw-bold text-success mb-2">Edit<br>Academic Year</p>
                        <h6 class="fw-bold">Change Academic Year Information</h6>
                    </div>
                    <form id="edit_academic_year_form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="edit_name">Academic Year</label>
                            <input id="edit_name"
                                   class="form-control"
                                   type="text" name="name" placeholder="Academic Year"
                                   required="required"/>
                        </div>
                        <div class="mb-3">
                            <label for="edit_open_date">Open Date</label>
                            <input id="edit_open_date" name="openDate" class="form-control"
                                   placeholder="Open Date"
                                   type="text"
                                   onfocus="(this.type='date')"
                                   onblur="(this.type='text')"/>
                        </div>
                        <div class="mb-3">
                            <label for="edit_closure_date">Closure Date</label>
                            <input id="edit_closure_date" name="closureDate" class="form-control"
                                   placeholder="Closure Date"
                                   type="text"
                                   onfocus="(this.type='date')"
                                   onblur="(this.type='text')"/>
                        </div>

                        <div class="mb-3">
                            <label for="edit_final_closure_date">Final Cloxsure Date</label>
                            <input id="edit_final_closure_date" name="finalClosureDate" class="form-control"
                                   placeholder="Final Closure Date"
                                   type="text"
                                   onfocus="(this.type='date')"
                                   onblur="(this.type='text')"/>
                        </div>
                        <div class="mb-3">
                            <button id="submit-edit-btn" class="btn btn-primary shadow d-block w-100">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered table-sencondary">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Open Date</th>
            <th scope="col">Closure Date</th>
            <th scope="col">Final Closure Date</th>
            <th scope="col" style="width: 250px"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(index += 1)</th>
                <td>@item.Name</td>
                <td>@item.OpenDate.ToString("dd/MM/yyyy")</td>
                <td>@item.ClosureDate.ToString("dd/MM/yyyy")</td>
                <td>@item.FinalClosureDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <div class="align-items-center">
                            <a onclick="openEditModal(@item.Id)" class="editAcademicYearBtn btn btn-info text-white text-center">
                                <i class="material-icons text-white">
                                    Edit
                                </i>
                            </a>
                        </div>
                        <div class="align-items-center">
                            <a onclick="deleteAcademicYear(@item.Id)" class="deleteAcademicYearBtn btn btn-info text-white text-center">
                                <i class="material-icons text-white">
                                    Delete
                                </i>
                            </a>
                        </div>
                        <div class="align-items-center">
                            <a href="academic-year/@item.Id/data/export" 
                               class="deleteAcademicYearBtn btn btn-info text-white text-center"
                            >
                                <i class="material-icons text-white">
                                    Export Data
                                </i>
                            </a>
                        </div>
                    </div>
                </td>
                
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/academic-year-site.js" asp-append-version="true"></script>
}