@using COMP1640.ViewModels.Idea.Responses
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using COMP1640.ViewModels.Comment.Responses
@model GetIdeaDetailResponse
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center" style="padding: 30px">
            <div class="col col-xl-9" aria-label="Card example">
                <div class="d-flex">
                    <a href="javascript: history.go(-1)">
                        <i class="fas fa-arrow-left"> Go Back</i>
                    </a>
                </div>

                <div class="card mb-5" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center mb-4">
                            <div class="flex-shrink-0">
                                <img src="https://i.pravatar.cc/300?u=@Model.Author.Id"
                                     alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                                     style="width: 70px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <div class="col col-xl-12 flex-shrink-0">
                                        <h2>@Model.Title</h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="btn btn-outline-light btn-rounded btn-sm">
                                        @Model.Category
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        @foreach (var attach in @Model.Attachments)
                        {
                            <div class="btn btn-outline-light btn-rounded btn-sm"
                             data-mdb-ripple-color="dark">
                                <a target="_blank" href="@attach.PresignedUrl">@attach.Name</a>
                                <a href="attachments/@attach.KeyName/download">Download</a>
                            </div>
                        }
                        <div class="col col-xl-12">
                            @Model.Content
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <div class="small d-flex justify-content-start">
                                <a onclick="React(event, @Model.Id, @((int)ReactionStatusEnum.Like))" class="d-flex align-items-center me-3">
                                    @if (Model.UserReacted?.Status == ReactionStatusEnum.Like)
                                    {
                                        <i class="fas fa-thumbs-up" id="thumbupBtn-@Model.Id"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-thumbs-up me-2" id="thumbupBtn-@Model.Id"></i>
                                    }
                                    <p id="total-thumbs-up-@Model.Id" class="mb-0">@Model.LikeCount</p>

                                </a>
                                <a onclick="React(event, @Model.Id, @((int)ReactionStatusEnum.DisLike))" class="d-flex align-items-center me-3">
                                    @if (Model.UserReacted?.Status == ReactionStatusEnum.DisLike)
                                    {
                                        <i class="fas fa-thumbs-down" id="thumbupBtn-@Model.Id"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-thumbs-down me-2" id="thumbdownBtn-@Model.Id"></i>
                                    }
                                    <p id="total-thumbs-down-@Model.Id" class="mb-0">@Model.DislikeCount</p>
                                </a>
                                <a href="#!" class="d-flex align-items-center me-3">
                                    <a> <i class="far fa-comment-dots me-2"></i></a>
                                    <p class="mb-0">@Model.CommentCount </p>
                                </a>
                            </div>
                            <div class="d-flex align-item-center">
                                <p class="me-2">@Model.Author?.UserName.Split("@")[0] </p>
                                <p>@Model.CreatedOn</p>
                            </div>
                        </div>
                        <br />

                        <div class="d-flex g-3 align-items-center">
                            <div class="row">
                                @foreach (CommentInfoResponse comment in ViewBag.Comments)
                                {
                                    <div class="col col-xl-10 mb-1" aria-label="Card example">
                                        <div class="card" style="border-radius: 15px;">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-1">
                                                    <div class="flex-shrink-0">
                                                        <img src="https://i.pravatar.cc/300?u=@comment.Author.Id"
                                                         alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                                                         style="width: 70px;">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <div class="d-flex flex-row align-items-center mb-2">
                                                            <div class="flex-shrink-0">
                                                                <span class="mx-10"></span>
                                                                @if (comment.IsAnonymous)
                                                                {
                                                                    <strong style="color:#8888">Anonymous</strong>
                                                                }
                                                                else
                                                                {
                                                                    <strong>@comment.Author.Name.Split("@")[0]</strong>
                                                                }
                                                            </div>
                                                        </div>

                                                        <div class="col col-xl-12">
                                                            <div class="flex-shrink-0">
                                                                <span class="mx-10"></span>
                                                                <small>@comment.Content</small>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />

                        <div class="d-flex g-3 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="https://i.pravatar.cc/300?u=@CurrentUser.Id"
                                     alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                                     style="width: 58px;">
                            </div>

                            <div style="padding-left: 30px; width: 600px">
                                @using (Html.BeginForm("CommentIdea", "Idea", new { ideaId = Model.Id }))
                                {
                                    <div class="d-flex">
                                        <input class="form-control" id="content" name="content" placeholder="Enter your comment here" required />
                                        <button type="submit" class="btn btn-primary" style="margin-left: 20px">Send</button>
                                    </div>
                                    <div style="margin-top: 15px" class="form-check">
                                        <input class="form-check-input" type="checkbox" value="true" id="anonymousCheckbox" name="isAnonymous">
                                        <input type="hidden" value="false" name="isAnonymous">
                                        <label class="form-check-label" for="anonymousCheckbox">
                                            Comment anonymously
                                        </label>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/reaction-site.js" asp-append-version="true"></script>